Language: Cpp
BasedOnStyle: Chromium

AccessModifierOffset: -4
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 120
FixNamespaceComments: false
IncludeBlocks: Preserve
IndentWidth: 4
NamespaceIndentation: Inner
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
IndentCaseLabels: false