[submodule "deps/sdl"]
	path = deps/sdl
	url = https://github.com/SDL-mirror/SDL
[submodule "deps/physfs"]
	path = deps/physfs
	url = https://github.com/Didstopia/physfs
[submodule "deps/wren"]
	path = deps/wren
	url = https://github.com/munificent/wren
[submodule "deps/tinytoml"]
	path = deps/tinytoml
	url = https://github.com/mayah/tinytoml
